*{
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section{
    padding: 4%;
    display: flex; 
    justify-content: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 87%;
    margin-top: 2%;

}

.table{
    width: 95%;
    padding: 5%;   
}

table{
    width: 85%;
    border-collapse: collapse;
}

tr{
    height: 75px;
    border-bottom: 0.5px solid rgb(182, 181, 181);
}

.thead th{
    width: 200px;
    margin:0 30px 0 30px;
    font-weight: bolder;

}

td{
    text-align: center;
}

td a{
    display: flex;
    justify-content: center;
}

td a img {
    width: 20px;
}

tbody .valide  {
    background-color: #5BE881;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

tbody .rejected   {
    background-color: #FF0000;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

tbody .on-validation  {
    background-color: #FDB64D;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addUser{
    margin-top: 1%;
    height: 120px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 10px;
}

.addUser button{
    height: 40%;
    width: 20%;
    border-radius: 11px;
    background-color: #FFAA0A;
    margin-top: 35px;
    margin-right: 2%;
    border: none;
    font-weight: bold;
    font-size: large;
    color: #806F4C;
    cursor: pointer;

}

/* hide modale */
.invisible {
    display: none;
    backdrop-filter: blur(10px);
}

/* bluring the background */
.blur {
    filter: blur(10px);
}

.form {
    margin: 0 10vw;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    top: 15%;
    width: 75%;
    border-radius: 13px;
}

.form input {
    width: 20vw;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(224, 224, 224);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.etatContainer{
    display: flex;
    flex-direction: column;
}

.form select {
    width: 22vw;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(224, 224, 224);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
  
.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.row2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;
    width: 100%;
    padding: 10px 0;

}
.FormButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}
  
.FormButton button {
    background-color: #FFAA0A;
    border-style: none;
    padding: 13px 60px;
    margin-right: 1vw;
    border-radius: 10px;
    color: #806F4C;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}